<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">source</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml" />
            <html outputDirectory="build/logs/coverage/" lowUpperBound="35" highLowerBound="70" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/logs/junit.xml" />
    </logging>
</phpunit>
