<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<testsuites>
		<testsuite name="">
			<file>test/AtSymbol.php</file>
			<file>test/CrawlDelay.php</file>
			<file>test/EmptyDisallow.php</file>
			<file>test/Host.php</file>
			<file>test/CleanParam.php</file>
			<file>test/Whitespaces.php</file>
			<file>test/Comments.php</file>
		</testsuite>
	</testsuites>
</phpunit>
